<div class="item-list-container">
    <div class="row">
        <div class="col-9">
            <h1 class="titulo-importante">Productos Comprados</h1>
        </div>
    </div>
    <div class="cart-list">
        {{#each cart.products}}
        <div class="container text-center prod">
            <div class="row">
                <div class="col">
                    <img src="/images/products/{{this._id.thumbnail}}" class="img-fluid float-start rounded-start"
                        alt={{this._id.title}} />
                </div>
                <div class="col-6">
                    <h5 class="card-title">{{this._id.title}}</h5>
                    <p class="card-text item-precio">Cantidad: {{this.quantity}}</p>
                    <p class="card-text item-precio">Precio por Unidad = $ {{this._id.price}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        <p class="cart-resumen-compra">Ud. compró un total de {{cart.products.length}} artículo/s.</p>
        <a href="/api/carts/{{cid}}/purchase" class="btn btn-secondary text-decoration text-center btn-ver-detalle">Confirmar compra</a>
    </div>
</div>