<div class="item-list-container">
    <h1 class="titulo-importante">Producto Seleccionado</h1>
    <h2 class="item-detail-nombre">{{product.category}}</h2>
    <h3 class="item-detail-nombre">{{product.title}}</h3>
    <div class="item-detail">
        <div class="item-more-detail">
            <img class="item-detail-img" src="/images/products/{{product.thumbnail}}" alt={{product.title}} />
            <div>
                <p class="item-detail-precio">$ {{product.price}}</p>
                <p class="item-detail-stock">Stock Disponible: {{product.stock}}</p>
                {{#if isNotAdmin }}
                <a href="/products/addcart/{{product._id}}" id="btn-addToCart"
                    class="btn btn-secondary text-decoration text-center btn-ver-detalle">Agregar al carrito</a>
                <a href="/carts/{{cid}}" class="btn btn-secondary text-decoration text-center btn-ver-detalle">Ver mi
                    carrito</a>
                {{/if}}
            </div>
        </div>
        <div>
            <p class="item-detail-descripcion">{{product.description}}</p>
        </div>
    </div>
</div>